In [2]:
import numpy as np
import pandas as pd
import scipy
from scipy import stats

In [3]:
df = pd.read_csv("C:/Users/pranay/Downloads/BuyerRatio.csv")

In [4]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
# H0 : All proportions are equal
# Ha : All proportions are not equal

In [7]:
df_table = df.iloc[:,1:5]

In [8]:
df_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [12]:
from scipy.stats import chi2_contingency   #since we've to find relationship between given data

In [13]:
data = [[50,142,131,70],[435,1523,1356,750]]

In [14]:
stat , p, dof, expected = chi2_contingency(data)

In [15]:
alpha = 0.05
print(("pvalue is " + str(p)))
if p <= alpha:
    print("Dependent(Reject H0)")
else :
    print("Independent(H0 holds true)")

pvalue is 0.6603094907091882
Independent(H0 holds true)